* text auto

# Enforce text on python and rust files
*.rs text
*.py text

# Ignore top level
.github export-ignore


# Plot output files
*.csv binary linguist-vendored
*.PTF binary linguist-vendored
*.plt binary linguist-vendored
*.PLT binary linguist-vendored
*.xtv binary linguist-vendored

# Model input files
*.MEL linguist-vendored
MODEL linguist-vendored
*.i linguist-vendored
*.inp linguist-vendored
